<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umaradkhamov.signup">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zeroq_circle"
        android:label="ZeroQ"
        android:roundIcon="@mipmap/zeroq_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IPContainer"
            android:label="Log in" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.RemoveActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInCustomer"
            android:label="Login"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".BankSelect"
            android:label="Select Bank"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".SignUpCustomer"
            android:label="Sign Up"
            android:theme="@style/AppTheme.RemoveActionBar" />
        <activity
            android:name=".SelectApplication"
            android:parentActivityName=".LogInCustomer" />
        <activity
            android:name=".ApplicationDescription"
            android:label="Application Description"
            android:parentActivityName=".SelectApplication" />

        <activity android:name=".ManualDesign"
            android:parentActivityName=".ApplicationDescription">
        </activity>
        <activity
            android:name=".Fields"
            android:label="Apply"
            android:parentActivityName=".ApplicationDescription" />
        <activity
            android:name=".Appointment"
            android:label="Appointment"
            android:parentActivityName=".Fields" />
        <activity
            android:name=".SeeYou"
            android:label="Appointment Details"
            android:parentActivityName=".Appointment" />

        <activity android:name=".DetailsOfAppointment"/>

        <activity android:name=".AppointmentList"
            android:parentActivityName=".BankSelect"></activity>
    </application>

</manifest>